.discharge-letter {
    /* margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(37, 249, 59, 0.1);
    max-width: 600px;
    margin: 0 auto;
    background-color: #9def05;
    margin-right: 0; */

    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px; /* Adjust to fit your layout */
    margin: 0 auto;
    background-color: #07d2f2;
    /* Position the generated letter to the right */
    margin-left: auto;
    margin-right: 20px; 
  }