
<p>Discharge Letter</p>
<div>
  <p>Name: {{ dischargeData.name }}</p>
  <p>Age: {{ dischargeData.age }}</p>
  <p>father Name: {{ dischargeData.fatherName }}</p>
  <p>Mother Name: {{ dischargeData.motherName }}</p>
  <p>Daiginise With: {{ dischargeData.DaigoniseWith }}</p>
  <p>Medication Provided: {{ dischargeData.medicationProvided }}</p>
  <p>Dietry Information: {{ dischargeData.dietryInformation }}</p>
  <p>Additional Information: {{ dischargeData.additionalInformation }}</p>



<button (click)="goBack()">Go Back to Form</button> ||

<button type="button" onclick="printDischargeLetter()">Print Discharge Letter</button>
</div>


